.animation-card .card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.animation-card .card-content .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animation-card .card-content .card-text p {
  margin-top: 1.5rem;
}

.animation-card .card-content .card-img img {
  position: relative;
  z-index: 2;
}

.animation-card .card-content .card-img video {
  position: absolute;
  z-index: 1;
}

.animation-card .card-content .card-img > div {
  display: inline-flex;
  align-items: center;
  width: 60%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75em;
  overflow: hidden;
  padding: 0.75em;
  position: relative;
  top: -19%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #000;
}

.animation-card .card-content .card-img > div img {
  height: 5em;
  width: auto;
}

.animation-card .card-content .card-img > div .text {
  margin-left: 1rem;
}

.animation-card .card-content .card-img > div .text p {
  font-size: 0.9rem;
  color: #0071eb;
  margin-top: 2px;
}

.animation-card .card-content .card-img > div::after {
  content: '';
  width: 3em;
  height: 3.75em;
  background: url(../img/download-icon.gif) no-repeat center/cover;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.animation-card .flipped .card-text {
  order: 2;
}

#card-1 .card-img {
  position: relative;
  margin-top: -10%;
}

#card-1 video {
  max-width: 73%;
  max-height: 54%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
